@import "tailwindcss";

@theme {
  --font-sans: "Yekan", sans-serif;

  --color-primery: #ff510c;
  --color-lightgray: #fafafa
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}